/* Main styles */

.driver-wrapper {
	transition: all .2s ease-in-out;
}

.driver-wrapper:hover {
	transform: scale(1.1);
}

.driver-image {
	border: 2px solid black;
}

.first {
	border: 5px solid rgb(241, 205, 43);
}

.second {
	border: 5px solid rgb(190, 190, 190);
}

.third {
	border: 5px solid rgb(150, 97, 18);
}

.driver-wrapper {
	padding: 25px 50px;
}

.footer {
	z-index: 3;
}

.panel {
	background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgb(145, 174, 255) 100%);
}

.panel#championship {
	background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgb(223, 212, 177) 100%);
}

.panel#last-race {
	background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgb(255, 185, 185) 100%);
}